@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
    width:200px;
  }
  
  html,
body {
	height: 100%;
  font-family: oxygen;

}

body,p,a,li {
  font-family: oxygen;

}

.paragraphe ul li, .list-duo ul li{
  list-style-type: circle;
margin-bottom: 5px;
margin-left: 15px;}

.fullheader{
  width:100% !important
}

.paragraphe p{
  margin-bottom: 10px;
}




p{
  font-size: 1.05em;
}


h1,h2,h3,h4,h5,h6{
  font-family: roboto;
}



@media only screen and (max-width: 600px) {
  p{
    font-size: 1em;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    width:350px;
    padding-right: 150px;
  }
}


